{% extends "base.html" %}
{% block content %}
<main>
    <form action="{{ url_for('game') }}" method="POST">
    <fieldset>
        {% for q in questions %}
        <div class="question-section">
          <legend class="question">{{loop.index}}. {{ q['question'] | unescape }}</legend>
            <input type="hidden" name="corrected_answer{{loop.index0}}" value="{{ q['correct_answer'] }}">
          <div class="answer-section">
              <div class="answer-true">
                <input type="radio" id="true" name="answer{{loop.index0}}" value="true" />
                <label for="true" >True</label>
              </div>
              <div class="answer-false">
                <input type="radio" id="false" name="answer{{loop.index0}}" value="false" />
                <label for="false">False</label>
              </div>
          </div>
        </div>
        {% endfor %}

        <div class="submit-answer-section">
        <button class="btn auth-link" type="submit">SUBMIT ANSWERS</button>
        </div>
    </fieldset>
    </form>
</main>
{% include 'footer.html' %}
{% endblock %}