<div class="leaderboard-section py-5">
  <div class="leaderboard-container">
    <h1 class="leaderboard-title">🏆 LEADERBOARD</h1>
    <div class="table-container">
      <table class="leaderboard-table">
        <thead>
          <tr>
            <th>RANK</th>
            <th>PLAYER</th>
            <th>SCORE</th>
          </tr>
        </thead>
        <tbody>

        <!-- for player in players -->
        {% for player in players: %}
          <tr class="rank-{{loop.index}}">
            <td>{{loop.index}}</td> <!-- player.id -->
            <td>{{ player.name }}</td><!-- player.name -->
            <td>{{ player.score }}%</td><!-- player.score -->
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>