{% extends 'base.html' %}
{% block content %}
<main>
    {% if current_user.is_authenticated: %}
    <div class="score-authenticated">
        <h1>"{{ current_user.name }}"</h1>
        <h1>SCORE: "{{ current_user.score }}%"</h1><br>
        <h1>TOTAL CORRECT ANSWERS: "{{ current_user.correct_answers }} / {{ current_user.answered_questions }}"</h1><br>
        <h1>YOU GOT {{ session }} OUT OF {{ ques_amount }} QUESTIONS RIGHT!</h1>
        <a class="btn btn-primary score-return-btn" href="{{ url_for('home') }}"><h1>RETURN IN HOME</h1></a>
    </div>

    {% else %}
    <div class="score-not-authenticated">
        <h1>YOU GOT {{ session }} OUT OF  {{ ques_amount }} QUESTIONS!</h1>
        <a class="btn btn-primary" href="{{ url_for('register') }}"><h1>SIGN UP NOW TO GET A PLACE IN LEADERBOARD!</h1></a>
        <a class="btn btn-primary score-return-btn" href="{{ url_for('home') }}"><h1>RETURN IN HOME</h1></a>
    </div>
    {% endif %}

</main>
{% include 'footer.html' %}
{% endblock %}